*/bin/zig
*/bin/zig.exe
*/bin/zig.wasm
*/README.md
*/LICENSE
lib/**/*
!cli/bin/zig
!wasm32-wasi/bin/zig
!wasm32-wasi/index.js

!lib/package.json
.zig-version
.cache/
.verdaccio-storage/
.verdaccio-htpasswd

# Zig
.zig-cache/
zig-out/
.DS_Store

tmp